body {
  text-transform: capitalize;
  text-align: center;
  display: flex;
  /*make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

article {
  background-color: rgba(11, 63, 236, 0.13);
  border: 1px solid;
  margin: 1%;
  padding: 0.5%;
  width: 30%;
  height: 301px;
}

img {
  background-color: red;
  width: 100%;
  height: 300px;
  z-index: -1;
}

.caption {
  color: aliceblue;
  top: -50px;
  margin: 0 10%;
  position: relative;
  z-index: 1;
}

@media only screen and (max-width:570px) {
  article {
    width: 40%;
    height: 200px;
  }

  img {
    height: 199.9px;
  }

  .caption {
    top: -60px;
  }
}