
 div{
  background-color: inherit;
  margin: 15% auto;
  padding: 5%;
  text-align: center;

  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
h3 {
  background-color: cyan;
  text-align: center;
  border: 1px solid;
  border-radius: 10px;
}
span{
  background-color: whitesmoke;
  margin-left: auto;
  padding: 0 2%;
  border-radius: 0 10px ;
}
button{
  border-radius: 10px;
  width: 10%;
}
button:hover{
  background-color: aquamarine;
}
button:active{
  background-color: red;
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 500px) {
  div{margin: 35% auto;}
  button{
    width: 25%;
  }
}
